@import './assets/scss/variables.scss';

/*
font-family: 'Nanum Gothic', sans-serif;
*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap');

body {
    background-color: white;
}
li {
  list-style-type: none;
    white-space: nowrap;
}
.user-round {
    height: 25px;
    width: 25px;
    background-color: #F2F2F2;
    border-radius: 50%;
    border: 2px solid white;
}
button {
    white-space: nowrap;
}
a {
    color: initial;
    &:hover {
        text-decoration: none;
    }
}
.flex-grow-high {
    flex-grow: 15;
}
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.form-control {
    background-color: inherit;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
button:focus {
    outline: none;
}
.hideBackground{
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    border:none;
}
.inFront{
    z-index: 20;
    background-color:#ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    border-radius: 20px 20px 0 0;
}

.addTask{
    background-color: #4785FA;
    color:#ffffff;
    font-size:40px;
    position: fixed;
    width: 100%;
    bottom: 0;
    cursor: pointer;
}
  .smoothTransition {
    transition: all ease 0.35s;
    transform: translateY(0);
  }
  .addTaskForm{
      max-width: 295px;
      margin: 0 auto;
  }
  .addTaskForm h1{
      font-size:20px;
        color:#292727;
        text-align: center;
        font-family: 'Nanum Gothic', sans-serif;
        font-weight: 800;
        margin: 40px 0;
  }
  .addTaskForm form{
      display: flex;
      flex-wrap: wrap;
  }
  .addTaskForm form *{
      flex-basis: 100%;
  }
  .addTaskForm label{
    font-weight: 700;
    padding: 5px 0;
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
}
.addTaskForm input,.addTaskForm select{
    border: 1px solid #939393;
    border-radius: 4px;
    height: 54px;
    background-color: #ffffff;
    font-size:14px;
    margin-bottom: 30px;
}
.addTaskForm select:focus{
    outline: none;
}
.addTaskForm input:active, .addTaskForm input:focus{
    outline: inherit;
    box-shadow: none;
    border: 1px solid #939393;
}
  .addTaskForm select{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    color: #292727;
    font-weight: 700;
    appearance:none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjAwJyBoZWlnaHQ9JzIwMCcgZmlsbD0iIzAwMDAwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgMjQgMjQiIHg9IjBweCIgeT0iMHB4Ij48cGF0aCBmaWxsPSIjMDAwMDAwIiBkPSJNMTIgMThsLTExLjAxOS0xMWgyMi4wMzh6Ii8+PC9zdmc+);
    background-size: .8em;
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
    padding-left: 20px;

  }
  .addTaskForm input::placeholder{
      color:#939393;
      font-size: 14px;
      padding: 10px;
  }
  .addTaskForm button{
      max-width:116px;
      height: 54px;
      margin: 10px auto 40px;
      border-radius: 10px;
      background-color: #FF7F50;
      color:#ffffff;
  }
  .addTaskForm button:hover{
    cursor: pointer;
  }
  #quitAddTask{
    border:1px solid #FF7F50;
    background-color:white;
    color:#FF7F50;
  }


.MuiTabs-indicator {
  height: 3px !important;
}
.Mui-selected .MuiTab-wrapper {
  font-weight: bold;
}
header {
  background-color: white;
}
.secondary-text {
  font-size: 14px;
  color: #939393;
}
.user-round-annotation {
  transform: translateX(-5px);
}
.task-list-item {
  &-subtitle {
    font-size: 12px;
    color: #939393;
  }
  &-secondary-action {
    font-size: 10px;
    color: #292727;
    text-decoration: underline;
  }
  &-title {
    font-size: 18px;
  }
  &-button-wrapper {
    height: 90px;
    border-left: 2px solid rgba(0,0,0,0.1);
  }
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.01), 0 3px 6px rgba(0,0,0,0.16);
}
.hardness-indicator {
  width: 27px;
  height: 17px;
  align-self: flex-start;
  &-0 {
    background-color: #10E39A;
  }
  &-1 {
    background-color: #F8D74B;
  }
  &-2 {
    background-color: #FF9300;
  }
}
.hardness-round-indicator {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  transform: translateX(-10px);
  align-self: flex-start;
  &-0 {
    background-color: #10E39A;
  }
  &-1 {
    background-color: #F8D74B;
  }
  &-2 {
    background-color: #FF9300;
  }
}

.done {
  height: 120px;
  background-color: #ffffff;
  box-shadow: 0px 3px 6px 0px #000000;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  transform: translateY(-150%);
  z-index: 100;
}
.done--displayed {
  transform: translateY(0)
}

.done__square {
  background-color: #F2F7FE;
  height: 80px;
  width: 80px;
  border-radius: 20px;
}
